body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: rgb(221, 136, 39);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}
nav ul li h2 {
  padding-left: 150px;
}
.navfirst {
  display: block;
  text-decoration-color: blue;
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-left: 400px;
}
.navhead {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration-color: blue;
  padding-left: 35px;
}

li a:hover {
  color: #555;
}
.container {
  background-color: #3d3c3c;
  height: 400px;
}
h1 {
  margin: 0%;
  color: whitesmoke;
  padding-top: 100px;
  padding-left: 50px;
  animation: moveLeftToRight 5s linear infinite;
}
.color {
  color: rgb(161, 128, 17);
  font-size: xx-large;
}
.container1 {
  background-color: #555;
  height: 700px;
}
.store {
  color: rgb(204, 126, 24);
  padding-top: 7%;
  padding-left: 45%;
  text-decoration: underline;
}
img {
  float: left;
  width: 30%;
  height: 50%;
  margin-left: 100px;
  margin-top: 10%;
}
.para {
  color: white;
  width: 48%;
  margin-left: 40%;
  margin-top: 10%;
}
.button {
  width: 75px;
  height: 30px;
}
.button1 {
  width: 105px;
  height: 30px;
  margin-left: 15px;
}
.subtittle {
  text-align: center;
  color: rgb(241, 238, 238);
}
.container2 {
  background-color: #3d3c3c;
  height: 700px;
}
.row {
  width: 100%;
  margin: auto;
  margin-top: 20px;
}
.col {
  background-color: rgb(35, 128, 128);
  width: 25%;
  height: 210px;
  float: left;
  margin-top: 50px;
  margin-left: 10%;
}
.col1 {
  background-color: rgb(35, 128, 128);
  width: 25%;
  height: 210px;
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.col2 {
  background-color: rgb(35, 128, 128);
  width: 25%;
  height: 210px;
  float: left;
  margin-top: 50px;
}
.container3 {
  background-color: #3d3c3c;
  height: 1400px;
}
.doublecol {
  background-color: rgb(94, 93, 93);
  width: 25%;
  height: 400px;
  float: left;
  margin-top: 50px;
  margin-left: 10%;
  padding-left: 10px;
}
.doublecol2 {
  background-color: rgb(94, 93, 93);
  width: 25%;
  height: 400px;
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 10px;
}
.doublecol3 {
  background-color: rgb(94, 93, 93);
  width: 25%;
  height: 400px;
  float: left;
  margin-top: 50px;
  padding-left: 10px;
}
.shooo {
  padding-right: 100px;
  width: 250px;
  height: 200px;
}
